.schedulerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1280px;
}

.buttonRow {
  width: 560px;
  align-self: center;
  margin-bottom: 10px;
}

.button {
  background: #055f5b;
  border-color: white;
}

.timeRow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  font-weight: bold;
}

.professionalRow {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid;
  height: 82px;
}

.professionalRowSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid;
  height: 82px;
  background-color: aquamarine;
}

.professionalTitleRow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-weight: bold;
}

.professionalTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid;
  padding: 5px;
  background-color: #f5e0b7;
}

.timeColumns {
  display: flex;
  justify-content: center;
}
